@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
:root{
    --font:'Karla', sans-serif;
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Karla';
    
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Gray)
}
main{
    display: flex;
    flex-direction: column;
    width: 290px;
    max-height: 664px;
    border-radius: 10px;
    box-shadow: 7px 5px 20px rgba(0, 0, 0, 0.107);
}

.div1{
    background-color: white;
    flex-grow: 0.4;
    padding: 20px;
    border-radius: 10px 10px 0 0 ;
}
.title{
    color: var(--Cyan)
}
.sub-title{
        font-weight: 700;
        color: var(--Bright-Yellow);
        margin: 25px 0 25px 0;
}
.texto p{
    line-height: 27px;
    color: var(--Grayish-Blue); 
}
.bottom{
    background-color: blueviolet;
    align-self: flex-end;
    flex-grow: 0.6;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.div2{
    height: 48%;
    background-color: var(--Cyan);
    padding: 20px;
}
.price{
    display: flex;
    height: fit-content;
    align-items: center;
    margin: 15px 0px 10px 0px;
}
.per_month{
    color:var(--Light-Gray) ;
    margin-left: 15px;
}
.div2 h3{
    color: white;
}
.div2 p {
    color: white;
    margin-bottom: 30px;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--Bright-Yellow);
    border-radius: 7px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.17);
}

.botao:hover{
    background-color: var(--Bright-Yellow);
}
.botao p{
    font-weight: 700;
    margin: 0px;
    
}
.new_price{
    display: inline-block;
    color: white;
    font-size: 33px;
    font-weight: 700;
}

.div3{
    height: 53%;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: #4ABEBD;
}
.div3 h3{
    color: white;
    margin-bottom: 20px;
}
.div3 p{
    color: hsl(204, 43%, 93%);
    line-height: 23px;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: hsl(179, 62%, 43%)
}


@media screen and (min-width: 765px) {

    main{
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 400px;
        background-color: wheat;
        border-radius: 10px;
        box-shadow: 7px 5px 20px rgba(0, 0, 0, 0.107);
    }
    .div1{
        background-color: white;
        flex-grow: 0.4;
        padding: 30px;
        border-radius: 10px 10px 0 0 ;
    }
    .title{
        font-size: large;
    }
    .sub-title{
        margin: 25px 0 10px 0;
    }
    .bottom{
        display: flex;
        width: 100%;
        height: 60%;
        flex-direction: row;
    }
    .div2{
        height: 100%;
        flex-grow: 1;
        border-radius: 0 0 0 10px;
        padding: 30px;
    }
    .div3{
        width: 50%;
        height: 100%;
        flex-grow: 1;
        padding: 30px;
        border-radius: 0 0 10px 0;
    }
    .botao{
        margin: auto;
        width: 95%;
        height: 48px;
    }
    .div3 h3{
        margin-bottom: 10px;
    }
    .div3 p{
        font-size: small;
        line-height: 21.5px;
    }

    footer{
        width: 100vw;
        position: absolute;
        text-align: center;
        align-self:flex-end;
        font-size: 90%;
    }

}


